body {
    background-color:   #ff88ff;
    }
    
    
    .Menu{
    text-align: center;
    background-color: red;
    display: block;
    }
    
    
    .caja1{
    background-color: #8ff;
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 20px;
    margin-right: 30px;
    border: 1px solid black;
    padding: 10px;
    position: relative;
    }

    .caja1 .chi{
    border: solid;
    left: 198px;
    width: 120px;
    height: 60px;
    position: absolute;
    top: 0px;
    text-align: center;
    }
       
    .caja1 p{

        padding-top: 50px;
    }



    .caja2{
        background-color: yellow;
        width: 300px;
        height: 300px;
        float: left;
        margin-left: 20px;
        margin-right: 30px;
        border: 1px solid black;
        padding: 10px;
        position: relative;
       
    }
    

    .caja2 .bef{
        border: solid;
        left: 198px;
        width: 120px;
        height: 60px;
        position: absolute;
        top: 0px;
        text-align: center;
        }

        .caja2 p{

            padding-top: 50px;
        }

    .caja3{
        background-color: rebeccapurple;
        width: 300px;
        height: 300px;
        float: left;
        margin-left: 20px;
        margin-right: 30px;
        border: 1px solid black;
        padding: 10px;
        position: relative;
    
     }


     .caja3 .sus{
        border: solid;
        left: 198px;
        width: 120px;
        height: 60px;
        position: absolute;
        top: 0px;
        text-align: center;

        }

        .caja3 p{

            padding-top: 50px;
        }


     div{
        margin: 15px;
     }

     @media (min-width:768px) and (max-width:991px){

        .caja3{
            clear: left;
            width: 670px;
            height: 200px;
        }
        .caja3 .sus{

            left: 566px;
        }
     }


@media (max-width:767px){

.caja2{
    clear: le;
}
}




